* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    padding: 1rem;
}

particle-canvas {
    aspect-ratio: 3;
    position: relative;
    border: 3px solid gainsboro
}